extends layout

block content
  div
    form(action="/add" method="post")
      label Name:
        input(type="text" name="itemName")
      br
      label Amount:
        input(type="number" name="amount" min="0" value="0")
      br
      label Price:
        input(type="number" name="price" min="0" value="0" step=".01")
      br
      input(type="submit" value="Add new record")
