extends layout

block content
  script(src="javascripts/index.js")
  
  div.row
    div.col-md-4
      a(href="/add").btn.btn-primary Add new record
    div.col-md-8
  div.row
    div(style="height:2.5em").col-md-12
  div.row
    div.col-md-12
      if items
          table.table.table-striped.table-hover.table-sm
            tr
              thead.thead-light
                th Name
                th Amount
                th Price
                th Options
            each item in items
              tr
                td=item.Name
                td(class="amount-" + item.id)=item.Amount
                td(class="price-" + item.id)=item.Price
                td
                  i.fas.fa-minus.delete &nbsp;
                  a(href="#" onclick="prompt(" + item.id + ")" class="delete") Delete &nbsp;
                  i.fas.fa-edit &nbsp;
                  a(href="#" onclick="edit(" + item.id + ")") Edit &nbsp;
                  form(action="/" method="post" id="edit-form")
                    input(type="hidden" name="id" value=item.id)
                    a(href="#" class="edit-controls" id="check")
                      i.fas.fa-check &nbsp;
                    a(href="#" class="edit-controls" id="discard")
                      i.fas.fa-times
