body {
  padding: 50px;
  font: 14px "DejaVu Sans", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1#title {
    font-weight: bold;
}

.delete-icon {
    color: red;
}

.edit-icon {
    color: dodgerblue;
}

.row-separator {
    height: 2.5em;
}

.edit-controls#check {
    color: green;
}

.edit-controls#discard {
    color: red;
}

.th-20 {
    width: 20%;
}

.th-15 {
    width: 15%;
}

.th-45 {
    width: 45%;
}
